body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ff94c8;
    user-select:none;
}

.container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, #fdeff9 0%, #7303c0 100% );
    padding: 40px 60px;
}

h2{
    font-size:50px;
    color: #fff;
    letter-spacing: 2px;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
    border-radius: 30px;
}
.reset:focus{
    color:  #7303c0;
    background-color: #161616;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 80px;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content:"";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after{
    transform: rotateY(180deg);
}